.st0{display:none;}
.st1{display:inline;fill:none;stroke:#FF0000;stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st2{display:inline;fill:#FF0000;}
.st3{display:inline;fill:none;stroke:#FF0000;stroke-width:13;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st4{display:inline;}
.st5{display:inline;fill:none;stroke:#FF0000;stroke-width:14.22;stroke-miterlimit:10;}
.st6{fill:#FF5D01;}