---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { SocialsItem } from "~/types";

function extractValue(content: string, head: string) {
  return( content.split(head)[1].split("* ")[1].split("\n")[0] )
}

const networks: Array<SocialsItem> = []
const configs = await Astro.glob('../content/socials/*.md');
configs.map( (config) => {
  if (config.file.replace('default.md','') == config.file)
    networks.push( 
      {
        url: extractValue(config.rawContent(), '# Url'),
        title: extractValue(config.rawContent(), '# Titre'),
        icon: extractValue(config.rawContent(), '# Icon'),
      }) 
})
---

<ContentSection title="Reseaux" id="compatibility">
  <Fragment slot="lead">
    Rejoignez <span class="text-primary">le reseau</span>.<br />{" "}
    Restez <span class="text-primary">connectés</span>
    & échangez avec <span class="text-primary">Justin Curieux</span>.
  </Fragment>
  <CompatibilityList
    items={networks}
    title="Reseaux sociaux"
    url="#"
  />
</ContentSection>
