---   
---
<style>
@keyframes ping {
	0% { background-position: 0% 0%; }
    17% { background-position: 0% 1%; }
    83% { background-position: 1% 0%; }
	100% { background-position: 0% 1%; }
}
</style>
<div class="relative grid justify-items-center items-center bg-black">
    <!-- CRT DISPLAY -->
    <img src="/paris.jpg"
        width="90%"
        alt="..."
        class="rounded-[50px] filter grayscale blur-[2px] z-1 p-5"
    />
    <!-- CRT BARS -->
    <div 
        class="absolute z-2 rounded-[50px] opacity-10 min-w-[90%] min-h-full bg-gradient-to-b from-white to-black bg-[length:5px_5px] animate-ping m-5"
    ></div>
</div>