---
// import { Icon } from "astro-icon";//<Icon pack="heroicons" name="share" class="h-32" />
import Icon from "heroicons-astro/Heroicon.astro";
/**

import type { CollectionEntry } from "astro:content";
export interface Props {
    site: CollectionEntry<"showcase">;
}

 */
export interface Props {
    description?: string;
    btnText?: string;
}
const { description = `Socials`, btnText = `Socials` } = Astro.props;

// const defaultDescription: string = ``
---


<!-- drawer init and show -->
<!-- component -->
<div class="flex ">
    <input alt={btnText} type="checkbox" id="drawer-toggle0" class="relative sr-only peer" checked>
    <label for="drawer-toggle0" class="absolute top-0 left-0 inline-block p-4 transition-all duration-500 bg-indigo-500 rounded-lg peer-checked:rotate-180 peer-checked:left-64">
        <div class="w-6 h-1 mb-3 -rotate-45 bg-white rounded-lg"></div>
        <div class="w-6 h-1 rotate-45 bg-white rounded-lg"></div>
  
        <span class="relative text-transparent">
            <Icon iconCode="share" iconStyle="outline" customClasses="h-32 w-32 bg-green" />

            {description}
        </span>
    </label>
    <div class="fixed top-0 left-0 z-20 w-64 h-full transition-all duration-500 transform -translate-x-full bg-white shadow-lg peer-checked:translate-x-0">
      <div class="px-6 py-4">
        <h2 class="text-lg font-semibold">Drawer</h2>
        <p class="text-gray-500">This is a drawer.</p>
      </div>
    </div>
  </div>