---

---

<div id="twitch-embed"></div>

        
<script src="https://embed.twitch.tv/embed/v1.js"></script>


<script type="text/javascript">

    let embed = new Twitch.Embed("twitch-embed", {
      width: '100%',
      height: 480,
       
       
      channel: "radiojaune", 
      autoplay: true,
      
      parent: ["radiojaune.com"]
    });
    embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
      let player = embed.getPlayer();
      player.play();
    });
</script>